{% extends 'base.html' %}
{% load static %}

{% block content %}

    <center>
        <h2 style="background-color: rgb(109, 212, 126);">PASCASARJANA</h2>  
    </center>
    <center>
        <img src="{% static 'image/pascasarjana.png' %}" alt="foto" width="300px">
    </center>
    <center>
        <h4 style="background-color: rgba(135, 30, 30, 0.568) ;">SEJARAH PASCASARJANA</h4>
    </center>
    <p style="font-family: 'times new roman'">Universitas Sultan Ageng Tirtayasa tidak hanya mengasuh program Sarjana dan Diploma III. akan tetapi juga menyelenggaran pendidikan Pascasarjana. Pembukaan Program Magister (S2) Universitas Sultan Ageng Tirtayasa merupakan sebuah respon atas mendesaknya kebutuhan tenaga profesional dalam berbagai bidang seiring dengan tuntutan perubahan dibidang pendidikan dan pemerintahan. Kebutuhan sumber daya manusia yang berkualitas dan profesional merupakan suatu realitas sejalan dengan transformasi Banten yang semula hanya sebagai wilayah Pembantu Gubernur/Karesidenan yang tidak cukup hanya SDM aparatur memiliki kualifikasi pendidikan Sarjana (S1). </p>
    <p style="font-family: 'times new roman'">karenanya untuk menjawab kebutuhan pengembangan Sumber Daya Manusia tenaga pendidik dan kependidikan serta bidang-bidang profesi lainnya kehadiran Pascasarjana merupakan sebuah keniscayaan dan menjadi suatu kebutuhan. Selain itu. Pascasarjana merupakan kawah candradimuka pengembangan keilmuan yang dapat menghasilkan karya-karya ilmiah melalui riset unggulan dan menghasilkan lulusan yang memiliki kualifikasi teoretik. metodologis, analitik, dan praktis yang bermutu dalam ilmu pendidikan, Pendidikan Bahasa. Ilmu Hukum, Administrasi Publik, Ekonomi Akuntansi dan Manajemen. </p>
    <p style="font-family: 'times new roman'">Secara khusus Program Pascasarjana Universitas Sultan Ageng Tirtayasa bertujuan menghasilkan lulusan dengan kualifikasi sebagai berikut. menguasai teori-teori dalam disiplin Ilmu pendidikan, pendidikan bahasa, ilmu hukum. Ilmu Administrasi Publik, Ekonomi akuntansi dan Manajemen secara komprehensif dan terpadu; Mempunyai keinginan kuat untuk memajukan Ilmu pendidikan, pendidikan bahasa, ilmu hukum. Ilmu Administrasi Publik, Ekonomi Akuntansi dan Manajemen: Memiliki kepekaan terhadap perubahan perubahan lingkungan akademik maupun lingkungan kerja, yang diwujudkan dalam kegiatan penelitian dan pengabdian kepada masyarakat.</p>
    <center>
        <h4 style="background-color: rgba(23, 26, 177, 0.43);">PROGRAM STUDI</h4>
    </center>
    <p>
    {% for judul in jdl %}
        <li>{{ judul }}</li>
    {% endfor %}
    </p>
    {% for judul in jdl %}
    <li>{{ judul }}</li>
{% endfor %}
</p>
<h2>Daftar Nama Dosen Pascasarjana</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Email</th>
        <th>Fakultas</th>
        <th>Prodi</th>
        <th>Alamat</th>
        <th>Foto</th>
    </tr>
    {% for dosen in dataDosen %}
    <tr>
        <td>{{ dosen.NIP }}</td>
        <td>{{ dosen.nama }}</td>
        <td>{{ dosen.tanggal_lahir }}</td>
        <td>{{ dosen.email }}</td>
        <td>{{ dosen.fakultas }}</td>
        <td>{{ dosen.prodi }}</td>
        <td>{{ dosen.alamat }}</td>
        <td><img src="{{ dosen.foto }}" alt="Foto" width="100px"></td>
    </tr>
    {% endfor %}
</table>

<h2>Daftar Nama Mahasiswa Pascasarjana</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIM</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Email</th>
        <th>Fakultas</th>
        <th>Prodi</th>
        <th>Foto</th>
    </tr>
    {% for mahasiswa in dataMahasiswa %}
    <tr>
        <td>{{ mahasiswa.NIM }}</td>
        <td>{{ mahasiswa.nama }}</td>
        <td>{{ mahasiswa.tanggal_lahir }}</td>
        <td>{{ mahasiswa.email }}</td>
        <td>{{ mahasiswa.fakultas }}</td>
        <td>{{ mahasiswa.prodi }}</td>
        <td><img src="{{ mahasiswa.foto }}" alt="Foto" width="100px"></td>
    </tr>
    {% endfor %}
</table>

<h2>Daftar Nama Staff Pascasarjana</h2>
<table class="table table-success table-striped">
    <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Email</th>
        <th>Unit</th>
        <th>Alamat</th>
        <th>Foto</th>
    </tr>
    {% for mahasiswa in dataMahasiswa %}
    <tr>
        <td>{{ staff.NIM }}</td>
        <td>{{ staff.nama }}</td>
        <td>{{ staff.tanggal_lahir }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.unit }}</td>
        <td>{{ staff.alamat }}</td>
        <td>{{ staff.foto }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}